<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>

   <h1>Basketball</h1>
   Team Name: <%=@name%>
   Coach: <%=@coach%>
   Point Guard: <%=@point%>
   Shooting Guard: <%=@shooting%>
   Small Forward: <%=@small%>
   Power Forward: <%=@power%>
   Center: <%=@center%>

 </body>
</html>
